<!DOCTYPE html>
<html lang="en">
<style>
  .titulos{
    color:  #1e3799;
    text-decoration: solid;
      text-align: center;
  }
  table{
    text-align: center;
  }
  table thead tr th{
     text-align: center;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <title>Lista</title>
</head>

<body>
  {{>header}}
  <div class="columns">
    <div class="column is-3">  <h1 class="title is-3" style="color:#006266; padding:20px;    ">Lista de Notas</h1>
 </div>
  <div class="column is-6">
      
      <div class="card" style="    margin-left: -58px;">
        <div class="card-content" >
          <div class="content"><p style="text-align:justify; font-size:large; font-weight:bold; color:#e58e26; ">
            A continuación se presenta la tabla con la lista de notas agregadas hasta el momento, brindando la opcion de actualizar y eliminar cada una de ellas</p>
          </div>
        </div>
      </div>
      </div>
      </div>
      
<div class="columns" style="    margin-left: 4%; margin-right: 30%; border:1px solid #f6e58d; ">

 <br> <br>

  <table class="table is-bordered is-striped is-narrow is-fullwidth mt-4">
    <thead>
      <tr style="background-color:#f6e58d; text-align:center" >
        <th style="text-align:center;"><span class="titulos" title="Name">ID</span></th>
        <th style="text-align:center;"> <span class="titulos" title="City">Titulo </span></th>
        <th style="text-align:center;"> <span class="titulos" title="DOB">Cuerpo</span></th>
        <th style="text-align:center;"> <span class="titulos" title="Name">Acciones</span></th>
      </tr>
    </thead>
    <tbody>

       {{# each notes1}}
      <tr>
    
        <td> {{id}}</td>
        <td> {{title}}</td>
        <td> {{body}}</td>
        <td>
          <a class="button is-primary is-outlined " href="/actualizar/{{id}}">
          <span class="icon is-small">
            <i class="fa fa-edit"></i>
            </span><span>Editar</span></a> 
            <a class="button is-danger is-outlined" href="/delete/{{id}}">
            <span class="icon is-small">
              <i class="fa fa-trash"></i> 
              </span><span>Borrar</span></a></td>
      </tr>
           {{/each}}
    </tbody>
  </table>

</div>


 <br> <br> <br> <br>

  {{>footer}}
</body>


</html>